/* --------------------------- General rules ---------------------------- */
* {
	box-sizing: border-box;
	font-family: system-ui;
	margin: 0;
	padding: 0;
}
*::selection {
	color: #09f;
}
body {
	align-items: center;
	background: url('./imgs/bg.webp');
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}
body::-webkit-scrollbar {
	background-color: #333;
	width: 10px;
}
body::-webkit-scrollbar-thumb {
	background-color: #c8d6e5;
	border-radius: 15px;
}
/* --------------------------- End General rules ---------------------------- */

/* --------------------------- Main container ---------------------------- */
.container {
	align-items: center;
	background-color: #c8d6e5;
	border-radius: 10px;
	box-shadow: 0 0 0 4px #00000033;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 350px;
	position: relative;
	width: min(100%, 400px);
}
.container h2 {
	align-items: center;
	display: flex;
	font-family: fantasy;
	font-size: 1.8em;
	letter-spacing: 4px;
	text-align: center;
}
/* Input */
.container .input {
	display: flex;
	gap: 1rem;
}
.input input {
	background-color: whitesmoke;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid black;
	font-size: 1.1rem;
	margin-bottom: 1rem;
	min-height: 2em;
	padding: 0.5em;
}
.input input:focus {
	outline: none;
}
.input input:focus::placeholder {
	visibility: hidden;
}
.input button {
	align-self: center;
	background-color: #c8d6e5;
	border: none;
	cursor: pointer;
	padding: 1rem;
	transition: color 200ms ease-out, transform 150ms ease-out;
}
.input button:hover {
	color: green;
	transform: scale(1.3);
}
.todos {
	flex-direction: column;
	margin: 1.5rem 0;
}
.todo {
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 0.2rem 1rem;
	width: 320px;
}
.todo i {
	transition: color 200ms ease;
	visibility: hidden;
}
.todo span {
	line-break: anywhere;
	overflow: auto;
}
.todo:hover {
	background-color: #b8c5d3;
}
.todo:hover.checked i {
	color: green;
}

/* Cuando el usuario marca la tarea como completada */
.todo.checked span {
	color: rgb(107, 107, 107);
	text-decoration: line-through;
}
.todo.checked i {
	color: rgb(15, 81, 15);
	visibility: visible;
}
span {
	color: rgb(107, 107, 107);
	margin: 0.3rem;
}

/* Footer */
footer {
	bottom: 10px;
	color: red;
	font-weight: bold;
	left: 50%;
	position: absolute;
	transform: translate(-50%);
	width: fit-content;
}
.instructions {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	user-select: none;
}

@media (max-width: 470px) {
	.container {
		padding: 0.8rem 0;
		width: 305px;
	}
	.container h2 {
		font-size: 1.5rem;
	}
	.container h2 img {
		width: 50px;
	}
}
